.container {
    background-image: url("/assets/networkbackgroundimg.svg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

}

.title {
    font-family: dosis;
}

.header {
    font-family: dosis;
}

a {
    font-family: dosis;
    margin-top: 40px;
    margin-left: 75px;
}

h5 {
    font-size: small;
    text-align: center;
}
.scrollbox{
    overflow: hidden;
                overflow-y: auto;
                
}
.scrollbox::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}
