<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet">
</head>
<style>
    .container {
        background-image: url("/assets/networkicon.svg");
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .title {
        font-family: dosis;
    }

    .header {
        font-family: dosis;
    }

    a {
        font-family: dosis;
        margin-top: 40px;
        margin-left: 75px;
    }
</style>

<body>
    <div class="relative mt-[0px] w-full h-full">

        <div class="container absolute">
            <div class="border-b-4 border-white w-[100%] h-[10%]">
                <span class="header bg-white w-[10vw] h-[6vh] absolute  ml-[5vw] mt-[1.7vh] flex">
                    <img src="/assets/networklogo.png" class="w-[2vw] ml-1">
                    <span class="font-bold text-2xl text-center text-black ml-3 mt-1.5">NETWORK</span>
                    <div class="ml-[3vw]"><button routerLink="/person-details"
                            class="header bg-white hover:bg-gray-300 text-black font-semibold py-1 px-2 rounded mt-2 border border-black">
                            +Add
                        </button></div>
                    <div class=""><button
                            class="ml-[67vw] p-0 header gap-4 flex bg-white hover:bg-gray-300 text-black font-semibold py-1 px-8 rounded mt-2 border border-black">
                            Profile <img class="" src="/assets/images/pdrop-down 2.png">
                        </button>
                    </div>
                </span>


            </div>
            <div class="w-[83%] h-[78%] bg-white/50 ml-[9vw] mt-[6vh] border border-black rounded-2xl">




                <div class="flex justify-center"><button
                        class=" items-center pl-9 header flex w-[12vw] h-[6vh] bg-white/60 text-black mt-3 font-semibold rounded-md border border-black hover:bg-gray-200">
                        Person Detail's</button>

                </div>
                <div class="bg-[#2f4550] w-[7vw] ml-[3vw] rounded"><button routerLink="/profilepage"
                        class="flex text-center p-2 text-white header gap-3">
                        <img class="h-6 mt-1" src="/assets/images/pdrop-down 5.png">Back</button>
                </div>
                <div class="w-[45vw] h-[50vh]  ml-[18vw] mt-[5vh] flex bg-[#2F4550]/70">
                    <div class="w-[15vw] h-[50vh]">
                        <img class="w-[15vw] h-[49vh] ml-2 mt-1" src="/assets/images/arun 3.png">
                    </div>

                    <div class="w-[30vw] h-[50vh] text-center text-white header">ArunKumar <br><br>Intresting People
                        <br><br>Neyveli
                        <br><br>8220710738<br><br>
                        _arunvjcopzz_ <br>https://www.linkedin.com/in/arun2599/<br><br>I have always been
                        interested in web
                        development, and<br>I have the necessary skills required for the role.<br> I have a
                        good
                        understanding
                        of HTML, CSS, JavaScript.
                    </div>

                </div>
                <img class="ml-[70vw] mt-[-30vh] h-[5vh]" src="/assets/images/pdrop-down 3.png">
                <img routerLink="" class="ml-[8vw] mt-[-5.5vh] h-[5vh]" src="/assets/images/pdrop-down 4.png">
            </div>
        </div>
    </div>
</body>

</html>