<div class="w-[17vw]">
    <button
        class="ml-[64vw] p-0 header gap-4 flex bg-white hover:bg-gray-300 text-black font-semibold py-1 px-8 rounded mt-2 border border-black"
        (click)="showElements =!showElements">Profile <img class="" src="/assets/images/pdrop-down 2.png"></button>
</div>
<mat-card class=" header w-[13vw] h-[14vh] bg-white mt-[1vh] ml-[61.5vw] text-center font-semibold text-black"
    *ngIf="showElements">
    Madhan<br>manmadhan177@gmail.com<br><button routerLink="/welcome"
        class="header bg-white text-black border border-black rounded mt-2 font-semibold">Logout</button>
</mat-card>